.order {
	background-color: #1C1C21;
	border-radius: 25px;
	cursor: pointer;
}

.modalHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.images_row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.image {
	width: 60px;
	height: 60px;
	background-color: #000000;
	border-width: 2px;
	border-style: solid;
	border-color: #8A2BE2;
	border-radius: 50%;
	object-fit: cover;
}