.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.form {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section {
	flex: 1;
	height: 75vh;
	overflow-y: auto;
}

.active {
	color: #ffffff;
}