.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.row_between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.row_start {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.row_end {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.w_100 {
	width: 100%;
}
