.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.form {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section {
	flex: 1;
}

.scroll_section {
	height: 75vh;
	overflow-y: auto;
}