.ingredientDetails{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.ingredientContent{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}